DB_USERNAME=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
REDIS_PASSWORD=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
JWT_SECRET=
GMAIL_USERNAME=
GMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PRO_MONTHLY=
STRIPE_PRICE_PRO_YEARLY=
STRIPE_PRICE_BUSINESS_MONTHLY=
STRIPE_PRICE_BUSINESS_YEARLY=
